<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"
xmlns:gap="http://phonegap.com/ns/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.tixy.vmservice"
>
<name short="Voicemail">
Voicemail
</name>
<icon src="img/icon.png" />
<content src="index.html"/>
<access origin="*"/>
<gap:platform name="ios"/>
<preference name="orientation" value="portrait" />
<preference name="android-MediaPlaybackRequiresUserAction" value="false" />
<preference name="android-AllowInlineMediaPlayback" value="true" />
<feature name="http://api.phonegap.com/1.0/device" />
<feature name="http://api.phonegap.com/1.0/media" />
<plugin name="org.apache.cordova.device" source="pgb" spec="0.3.0" />
<plugin name="org.apache.cordova.device-orientation" source="pgb" spec="0.3.11" />
<plugin name="org.apache.cordova.media" source="pgb" spec="0.2.16" />
</widget>
